{% extends 'base.html.twig' %}
{% block body %}
    <div class="form-container">
        <h2>Zarejestruj się na wydarzenie</h2>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}